@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss"; /* Make sure this import is correct */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%; /* Change from 100vh to 100% */
  width: 100%; /* Change from 100vw to 100% */
  margin: 0;
  padding: 0;
}

:root {
  --light-bg: radial-gradient(circle at 20% 20%, #d4d0f5 0%, transparent 50%),
    radial-gradient(circle at 80% 80%, #b8c4ee 0%, #f7f8ff 80%);
  --dark-bg: radial-gradient(circle at 20% 20%, #03034a 0%, transparent 50%),
    radial-gradient(circle at 80% 80%, #2a0040 0%, #030014 80%);

  --text-color: #2a0040;
  --accent: #bf00ff;
  --dark-text: #ced5ef;
  .custom-text-shadow {
    text-shadow: 2px 2px 4px #ff6b6b;
  }
}

html.dark {
  --text-color: #ced5ef;
  --accent: #ff6b6b;
  --dark-text: #2a0040;
  .custom-text-shadow {
    text-shadow: 2px 2px 4px #bf00ff;
  }
}

* {
  transition: color 0.8s ease, background 0.8s ease;
}

/* Positioning pseudo-elements */
body {
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s ease;
  z-index: -1;
}

body::before {
  background-image: var(--light-bg);
  opacity: 1;
}

body::after {
  background-image: var(--dark-bg);
  opacity: 0;
}

html.dark body::before {
  opacity: 0;
}

html.dark body::after {
  opacity: 1;
}

/* styles.css */
.lora {
  font-family: "Lora", serif;
}
/* styles.css */
.lora-italic {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
}

.japanese-text {
  font-family: "Noto Serif JP", serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
